<section class="py-3" id="funding">
  <div class="container">
    {% include heading.html title="Funding" %}
    <div class="row justify-content-start align-items-center my-4">
      <div class="col-auto">
        <div class=" d-flex justify-content-center align-items-center">
          <p class="mb-0 rounded-lg border border-primary py-3 px-4 font-weight-semibold">
            This work is supported in part by NSF Award 1761812.
          </p>
        </div>
      </div>
      <div class="col-auto">
        <img src="/images/NSF logo.svg" alt="NSF logo" width="60" height="60">
      </div> 
    </div>
  </div>
</section>