<section class="py-5">
  <div class="container">
    {% include heading.html classname="text-center" title="Get Involved" %}
    <div class="row justify-content-between my-4">
      {% for item in site.data.learn-more %}
        <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
          <a href="{{ item.link }}" class="p-3 learn-more text-white hover-opacity rounded-lg btn-grad d-flex justify-content-center shadow-sm px-4 align-items-center font-weight-semibold">
            <p class="mb-0 text-center">{{ item.description }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>