
<section class="py-3 position-relative bg-light">
  <span class="anchor" id="research"></span>
<div class="container">
  {% include heading.html classname="text-center" title="Sibyl Research" %}
  <div class="row justify-content-start my-4">
    {% for item in site.data.papers %}
      {% if item.image != null %}
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <a class="outer is-paper d-block hover-opacity" href="{{ item.url }}" target="_blank">
          <img src="/images/papers/{{ item.image }}" alt="{{ item.name }}" class="inner d-block paper obj-cover">
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
</section>