<section class="py-3 position-relative">
  <span class="anchor" id="presentations"></span>
  <div class="container">
    {% include heading.html classname="text-center" title="Usable Machine Learning" %}
    <div class="row justify-content-center my-4">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kvldBH-Jsxs" allowfullscreen></iframe>
        </div>
      </div>
      <!-- <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/heeRkRtnN1s" allowfullscreen></iframe>
        </div>
      </div> -->
    </div>
  </div>
</section>