<section class="py-5 bg-light position-relative">
  <span class="anchor" id="about"></span>
  <div class="container">
    {% include heading.html classname="text-center" title="Explain, Understand, Act" subtitle="With the Sibyl libraries, you can augment machine learning applications for smoother human-ML interactions." %}
    <div class="row justify-content-center align-items-center my-4" id="tabs-container">
      <div class="col-lg-5 col-md-6 col-4">
               
        <div class="my- d-flex px-md-2 tab-tree-top">
          <div class="px-2">
            <img style="background-color: #C45735; padding: 6px;" class=" rounded-circle" width="32" height="32" src="images/sibyl-logo.svg" alt="{{ item.title }}"/>
          </div>
          <div>
            <p class="my-1 font-weight-bold text-primary">Sibyl</p>
            <p class="mb-1 small">&nbsp;</p>
          </div>
        </div>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          {% for item in site.data.tabs %}
            {% if forloop.first %}
            <a class="my-1 my-md-1 nav-link active tab-link d-flex tab-tree tab-tree-v" id="v-pills-{{ item.slug }}-tab" data-toggle="pill" href="#v-pills-{{ item.slug }}" role="tab" aria-controls="v-pills-{{ item.slug }}" aria-selected="true">
              <div class="px-2 d-none d-sm-block">
                <img style="background-color: #A5A5A5; padding: 6px;" class=" rounded-circle" width="32" height="32" src="{{ item.icon }}" alt="{{ item.title }}"/>
              </div>
              <div>
                <p class="my-1 font-weight-bold">{{ item.title }}</p>
                <p class="mb-1 small d-none d-md-block">{{ item.subtitle }}</p>
              </div>
            </a>
            {% else %}
            <a class="my-1 my-md-2 nav-link tab-link d-flex tab-tree {% unless forloop.last %}tab-tree-v{% endunless %}" id="v-pills-{{ item.slug }}-tab" data-toggle="pill" href="#v-pills-{{ item.slug }}" role="tab" aria-controls="v-pills-{{ item.slug }}" aria-selected="false">
              <div class="px-2 d-none d-sm-block">
                <img style="background-color: #A5A5A5; padding: 6px;" class=" rounded-circle" width="32" height="32" src="{{ item.icon }}" alt="{{ item.title }}">
              </div>
              <div>
                <p class="my-1 font-weight-bold">{{ item.title }}</p>
                <p class="mb-1 small d-none d-md-block">{{ item.subtitle }}</p>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6 col-8">
        <div class="embed-responsive embed-responsive-1by1 tab-content mx-lg-5 shadow rounded-lg" id="v-pills-tabContent">
          {% for item in site.data.tabs %}
          {% if forloop.first %}
          <div class="embed-responsive-item tab-pane fade show active bg-white" id="v-pills-{{ item.slug }}" role="tabpanel" aria-labelledby="v-pills-{{ item.slug }}-tab">
            <div class="w-100 h-100 d-flex align-items-center">
              <img class="px-2 py-3 px-md-3 py-md-4" src="{{ item.image }}"/>
            </div>
          </div>
          {% else %}
          <div class="embed-responsive-item tab-pane fade bg-white" id="v-pills-{{ item.slug }}" role="tabpanel" aria-labelledby="v-pills-{{ item.slug }}-tab">
            <div class="w-100 h-100 d-flex align-items-center">
              <img class="px-2 py-3 px-md-3 py-md-4" src="{{ item.image }}"/>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section> 